.input__wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: -1;
}

.date {
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
.reset__button {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--popup-color);
    margin-right: 5px;
}

